<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <style>
    a.btn { float: right; margin-top: -40px; }
  </style>
</head>
<body>
<div class="container">
  <h1>학생목록</h1>
  <a href="create" class="btn">교수등록</a>
  <table class="list">
    <thead>
    <tr>
      <th>교수아이디</th>
      <th>이름</th>
      <th>학과명</th>
      <th>전화번호</th>
      <th>이메일</th>
      <th>교수실</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${ professors }">
      <td th:text="${ p.id }"></td>
      <td><a th:text="${ p.name }"
             th:href="${ 'edit?id=' + p.id }"></a></td>
      <td th:text="${ p.departmentName }"></td>
      <td th:text="${ p.phone }"></td>
      <td th:text="${ p.email }"></td>
      <td th:text="${ p.office }"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
