<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.resultMap2.mapper.LectureMapper">

    <resultMap id="findAll" type="com.resultMap2.dto.Lecture" autoMapping="true">
        <id property="id" column="id" />
        <association property="professor" javaType="com.resultMap2.dto.Professor" autoMapping="true">
            <id property="id" column="professorId" />
        </association>
    </resultMap>

</mapper>
