<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <style>
    h1 { text-align: center; }
     div.table { display: table; }
     div.row { display: table-row; }
     div.cell { display: table-cell; padding: 5px; }
    form { padding: 10px 30px 30px 30px; width: 300px; }
    button { margin-top: 20px; margin-left: 50px; }
    .error { color: red; }
  </style>
</head>
<body>
<div class="container">
  <form method="post" action="/login_processing" class="box">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <h1>로그인</h1>
    <div class="table">
      <div class="row">
        <div class="cell">아이디:</div>
        <div class="cell"><input type="text" name="loginName" /></div>
      </div>
      <div class="row">
        <div class="cell">비밀번호:</div>
        <div class="cell"><input type="password" name="passwd" /></div>
      </div>
    </div>
    <button type="submit" class="btn">로그인</button>
    <div th:if="${ param.error != null }" class="error">
      로그인 실패
    </div>
  </form>
</div>
</body>
</html>
