<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/common.css">
  <style>
    div.box { padding: 50px; width: 300px; }
    div.label { margin-top:10px; }
    .error { color: red; display: block; }
    button { margin-top: 20px; }
  </style>
</head>
<body>
<div class="container">
  <div class="box">
    <h3>회원 가입 성공</h3>
    <a href="/login" class="btn">로그인</a>
  </div>
</div>
</body>
</html>
