<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/common.css" />
  <script type="text/javascript" src="/common.js"></script>
  <style>
    div.box { padding: 30px; }
    table { border-collapse: collapse; width: 400px; margin-bottom: 20px; }
    td { border: 1px solid #aaa; padding: 8px; }
  </style>
</head>
<body>
<div class="container">
  <div class="box">
    <h1>관리자 페이지 #1</h1>
    <table>
      <tr>
        <td>로그인ID</td>
        <td th:text="${#authentication.principal.username}"></td>
      </tr>
      <tr>
        <td>이름</td>
        <td th:text="${#authentication.principal.name}"></td>
      </tr>
      <tr>
        <td>이메일</td>
        <td th:text="${#authentication.principal.email}"></td>
      </tr>
      <tr>
        <td>권한</td>
        <td th:text="${#authentication.principal.userType}"></td>
      </tr>
    </table>

    <a class="btn" href="/logout_processing">로그아웃</a>
    <a class="btn" href="/user/index">뒤로</a>
  </div>
</div>
</body>
</html>
