<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h2>학생명단 출력</h2>
<table>
  <tr>
    <th>id</th>
    <th>학번</th>
    <th>이름</th>
    <th>이메일</th>
  </tr>
  <tr th:each="s : ${studentList}">
    <td th:text="${s.id}">id</td>
    <td th:text="${s.studentNumber}">studentNumber</td>
    <td th:text="${s.studentName}">studentName</td>
    <td th:text="${s.email}">studentEmail</td>
  </tr>
</table>


</body>
</html>