<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
  본문 영역입니다.
</div>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    footer {
      div{
        background:gold;
      }
    }
  </style>
</th:block>

<!--사용자스크립트추가-->

<th:block layout:fragment="script">
  <script th:inline="javascript">
    var content=document.getElementsByClassName("content")[0];
    content.style.padding="20px";

    var message=[[${msg}]];
    alert("Message : " + message);

  </script>
</th:block>
</html>